@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
margin: 0;
padding: 0;
 box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: var(--background-gray, #F9F9F9);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
